---
services:
  metrics:
    container_name: '{{ rpc_snooper_cont_name }}'
    image: '{{ rpc_snooper_cont_image }}'
    user: 'root'
    restart: 'always'
    ports:
      - '{{ rpc_snooper_cont_port }}:{{ rpc_snooper_cont_port }}'
    extra_hosts:
      host-gateway: 'host-gateway'
    command: |
      --no-color
      --bind-address {{ rpc_snooper_cont_addr }}
      --port {{ rpc_snooper_cont_port }}
{% for method in rpc_snooper_suppress_methods %}
      --suppress-method {{ method }}
{% endfor %}
{% for path in rpc_snooper_suppress_paths %}
      --suppress-path {{ path }}
{% endfor %}
      {{ rpc_snooper_endpoint }}